<!DOCTYPE html>
<html>
   <head>
      <link href="./static/css/main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="backgr">
         <div class="game_field">
            
         </div>
         <div class="head_menu"></div>
         <div class="main_menu"></div>
         <span class="Menu_text">меню</span>
         <span class="textToDelete">игровая область</span>
         <span class="dnd">Подземелья и Приколы</span>
      </div>
   </body>
</html>
