<!DOCTYPE html>
<html>
   <head>
      <link href="./static/css/main.css" rel="stylesheet" />
      <title>Document</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   </head>
   <body>
      <div class="backgr">
         <div class="head_menu">
            <span class="someText" id="Game">Подземелья и Приколы</span>
         </div>

         <div class="game_field">
            <!--<div class="someText">Игровая область</div>-->
            <div class="grid">
            </div>
            <script src="./static/css/script.js"></script>
         </div>

         <div class="main_menu">
            <button
            onclick="btn_check()"
            style="
            font-size: 20pt;
            padding: 10pt;
            ">xdd</button>
            <span class="someText">меню</span>
         </div>
      </div>

   <script>
      function btn_check(){
         var localhost = "http://127.0.0.1:8000/"
         var btn = new XMLHttpRequest();
         btn.open("GET",localhost)
         btn.send("xdd")
         // alert("Check correct");
      }
   </script>





   </body>
</html>
