{% load app_tags %}
<!DOCTYPE html>
<html lang="ru">
   <head>
      <title>Document</title>
      <link href="../static/css/main.css" rel="stylesheet" />
      <script src="../static/js/script.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   </head>
   <body>
      <div class="backgr">
         <div class="head_menu">
            <span class="someText" id="Game">Подземелья и Приколы</span>
         </div>
         <div class="game_field">
            <div class="someText">Игровая область</div>
            <div class="grid">
            </div>
         </div>
         <div class="main_menu">
            <button onclick='btn_check()' style="font-size: 20pt; padding: 10pt;">меню</button>
            <span class="someText">меню</span>
         </div>
      </div>
   </body>


   <script>
    function btn_check(){
        alert(`{% create_map %}`); // пуш уведомление об успешном создании json карты в верхем каталоге приложения
    }
   </script>
</html>
