<!DOCTYPE html>
<html>
   <head>
      <link href="main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="backgr">
         <div class="head_menu">
            <span class="someText">Подземелья и Приколы</span>
         </div>

         <div class="game_field">
            <span class="someText">игровая область</span>

         </div>

         <div class="main_menu">
            <button
            onclick="btn_check()"
            style="
            font-size: 20pt;
            padding: 10pt;
            ">xdd</button>
            <div id="circle"></div>
               <script src="script.js"></script>
            <span class="someText">меню</span>
         </div>
      </div>

   <script>
      function btn_check(){
         alert("Check correct");
      }
   </script>




   </body>
</html>
