<!DOCTYPE html>
<html>
   <head>
      <link href="./main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="backgr">
         <div class="head_menu">
            <span class="someText">Подземелья и Приколы</span>
         </div>
         <div class="game_field">
            <button style="
            font-size: 20pt;
            padding: 10pt;
            ">xdd</button>
            <span class="someText">Игровая область</span>
            <!-- <div id="circle"></div>
               <script src="script.js"></script> -->
         </div>
         <div class="main_menu">
            <span class="someText">Меню</span>
         </div>
      </div>
      
   </body>
</html>
